.hasibul{
    width: 300px;
    height: 200px;
}
.black{
    width: 100%;
    height: 33%;
    background: #000;;
}
.red{
    width: 100%;
    height: 34%;
    background:#f00;
}
.yellow{
    width: 100%;
    height: 33%;
    background:yellow;
}