*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: "d1 d1 d2" "d3 d4 d2" "d3 d5 d6" "d3 d5 d7" "d8 d9 d9";
    grid-gap: 20px;
    padding: 20px;
    background: linear-gradient(rgb(56, 38, 219), green, rgb(56, 38, 219));
    background: rgb(rgb(56, 38, 219), green, rgb(56, 38, 219));
}

.main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
}

.d1 {
    grid-area: d1;
    background: url(../images2/us.jpg) no-repeat center /cover; 
}
.d2 {
    grid-area: d2;
    background: url(../images2/as.jpg);
    background-size: cover;
    background-position: -0px -30px;
}
.d3 {
    grid-area: d3;
    background: url(../images2/sh.jpg);
    background-size: cover;
}
.d4 {
    grid-area: d4;
    background: url(../images2/turkey.jpg) no-repeat center /cover; 
}
.d5 {
    grid-area: d5;
    background: url(../images2/sohel.jpg);
    background-size: cover;
}
.d6 {
    grid-area: d6;
    background: url(../images2/bd.jpg) no-repeat center /cover; 
}
.d7 {
    grid-area: d7;
    background: url(../images2/saudi.webp) no-repeat center /cover; 
}
.d8 {
    grid-area: d8;
    background: url(../images2/india.jpg) no-repeat top /cover; 
}
.d9 {
    grid-area: d9;
    background: url(../images2/china.jpg) no-repeat center /cover; 
}