.roman{
    margin: 10px 10%;
    padding: 5px;
    
}
.pragraph{
    font-size: 5px;
  color: white;
  margin-top: 10%;
  margin-left: 11%;
}
.details{
    color: white;
    margin-left: 200px;
    padding: 5px;
    font-size: 20px;
    
}