*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: jarina;
    src: url("../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

@font-face {
    font-family: nazat;
    src: url("../fonts/Tiro_Bangla/TiroBangla-Italic.ttf");
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
}

.row {
    width: max-content;
    height: 80%;
    margin: auto;
    border: 1px solid #000;
    display: flex;
}

.col {
    width: max-content;
    padding: 20px;
}

.col > img {
    display: block;
    margin-left: auto;
    height: 100%;
}

.colText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.colText > h2 {
    text-decoration: underline;
    font-family: nazat;
}

.colText > p {
    margin: 20px 0;
    font-style: italic;
    width: 300px;
    font-family: jarina;
}

.colText > button {
    display: block;
    width: max-content;
    padding: 8px 20px;
    border-width: 0;
    cursor: pointer;
    border-radius: 6px;
}

.colText > button:hover {
    background: #000;
    color: #fff;
}